{% extends "project/header.html" %}

{% block content %}
<p>First attempt BI Report</p>
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOTQwN2E0ZDctZWYwYS00ZTY2LWFhNTQtZmFhZGM2YjBiYTFmIiwidCI6IjcxOGI4YTliLTQ0ZDgtNDQxYS1hMzQ0LTQyOTRlYTg0MjE3MiIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZDRhMjc4NWUtMDYwNC00NDg2LWE3NzQtMjc0ZjJhZDkyMjJjIiwidCI6IjcxOGI4YTliLTQ0ZDgtNDQxYS1hMzQ0LTQyOTRlYTg0MjE3MiIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
{% endblock %}
